.completed {
  text-decoration: line-through;
  color: gray;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 5px;
}

li span {
  cursor: pointer;
  flex-grow: 1;
}

button {
  padding: 2px 8px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}

input {
  margin-right: 10px;
}

div button {
  background-color: #007bff;
}

div button:hover {
  background-color: #0056b3;
}

div span {
  font-size: 16px;
  color: #333;
}

/* Estilo para os filtros */
label {
  cursor: pointer;
  font-size: 14px;
}

input[type="radio"] {
  margin-right: 5px;
}
